<!DOCTYPE html>
<html lang="en">

<!-- ----------------------------------------------------------------- -->
<head> <!-- header begins here -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="./static/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="./static/js/utils.js"></script>
  <script type="text/javascript" src="./static/js/header-functions.js"></script>

</head> <!-- header ends here -->
<!-- ----------------------------------------------------------------- -->

<body> <!-- body begins here -->
<center>
  <h1>Welcome to DevOps Cohort - Feb 22/2021 !!</h1>
  </center>
  <br>
  <center>
  <td>
        <img src="./static/img/plan.png"> <br>
  </td>
</center>
<center>
  <table>
    <tr>
      <center>
      <td>
        <img src="./static/img/platonic-icosahedron.gif">
      </td>
      <td>
        <img src="./static/img/platonic-octahedron.gif">
      </td>
      <td>
        <img src="./static/img/platonic-pyramid.gif">
      </td>
    </tr>
  </table>
</center>
  <!-- ====================================================== -->
  <footer>
    <!-- footer of page begins here -->
    <script type="text/javascript" src="./static/js/footer-functions.js"></script>
  </footer> <!-- footer of page ends here -->
  
  <!-- ====================================================== -->

</body>

<!-- ---------------------------------------------------------------------------------- -->
</html>